.externo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 200px;
}

.container-box {
  height: auto;
}

.interno {
  flex: 1;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 18px;
  padding-bottom: 32px;
}

.item {
  width: 200px;
  height: 210px;
  margin: 15px;
}

.item img {
  width: 100%;
  height: 79%;
  margin-left: 0px;
  margin-top: 0px;
  object-fit: contain;
}

.item a {
  text-decoration: none;
}

.item a h3 {
  width: 100%;
  text-decoration: none;
  color: black;
  text-align: center;
  margin-bottom: 0px;
}

.externo-texto h2 {
  font-weight: none;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.externo-button input {
  margin: 18px;
  padding: 13px;
  padding-left: 18px;
  padding-right: 18px;
  border: 2px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.externo-button input:hover {
  outline: none;
  background-color: #5bc2e7;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}

@media only screen and (max-width: 1335px) {
  .externo {
    margin-top: 72px;
    margin-bottom: 26%;
  }
}

@media only screen and (max-width: 700px) {
  .externo {
    margin-top: 62px;
    margin-bottom: 44%;
  }
}

@media only screen and (max-width: 291.99px) {
  body {
    background: #000;
  }

  header,
  main,
  footer {
    display: none;
  }
}