@import url("https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.corpo {
  background-color: #11111e;
  width: 100%;
  height: 1080;
  font-family: "K2D", sans-serif;
}

.corpo main {
  width: 100%;
  display: flex;
}

.corpo main #caixa-corpo {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  background-image: linear-gradient(
      to right,
      rgb(0, 0, 0) 15%,
      rgba(255, 255, 255, -100)
    ),
    url(../img/fundo.png);
  background-size: cover;
  background-position: center center;
}

.corpo main #caixa-corpo #texto1 {
  margin-top: 250px;
  margin-bottom: 30px;
  margin-left: 50px;
  font-size: 36px;
  color: #ffffff;
}

.corpo main #caixa-corpo #texto2 {
  margin-top: 15px;
  margin-bottom: 30px;
  margin-left: 50px;
  font-size: 24px;
  color: #ffffffcc;
}

.corpo main #caixa-corpo .btn-login {
  width: 10%;
  height: 35px;
  border-radius: 10px;
  border: none;
  margin-left: 50px;
  margin-bottom: 5px;
  transition: 0.3s;
}

.corpo main #caixa-corpo .btn-cadastro {
  width: 10%;
  height: 35px;
  border-radius: 10px;
  border: none;
  margin-left: 50px;
  transition: 0.3s;
}

.corpo main #caixa-corpo .btn-login:hover, .corpo main #caixa-corpo .btn-cadastro:hover {
  background-color: #5bc2e7;
  transition: 0.3s;
}

.corpo main #caixa-corpo #texto3 {
  margin-top: 100px;
  margin-bottom: 30px;
  margin-left: 50px;
  color: #ffffffcc;
}
