@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --cl-cyan: #5BC2E7;
    --cl-white: #FFF;
    --cl-dark: #11111E;
    --fs-small: 5vw;
    --fs-medium: 15vw;
    --fs-large: 20vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "K2D", sans-serif;
}

/* Tela indisponivel */
@media only screen and (max-width: 290px) {body{display: none}}

/* Tela Mobile */
.fraseNegrito {font-weight: 700}

body {
    background-color: var(--cl-dark);
    background-image: url(../imagens/fundo.svg);
}

body header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: left;
}

body header div img {
    width: 40%;
    margin: 10px;
}

body main {
    width: 100%;
    height: 85vh;
    justify-content: center;
}

body main #esqueciSenha, body main #emailEnviado, body main #novaSenha, body main #senhaAlterada {
    width: 80%;
    display: flex;
    align-items: left;
    flex-direction: column;
    padding: 15px 20px;
    border: 2px solid var(--cl-cyan);
    border-radius: 20px;
    background-color: var(--cl-dark);
}

body main #emailEnviado, body main #senhaAlterada {align-items: center}

body main #esqueciSenha p, body main #emailEnviado p, body main #novaSenha form label, body main #senhaAlterada p {
    color: var(--cl-white);
    font-size: var(--fs-small);
    margin-bottom: 10px;
}

body main #novaSenha form label {margin-bottom: 0}

body main #emailEnviado p, body main #senhaAlterada p {
    text-align: justify;
    margin-top: 10px;
}

body main #emailEnviado .fraseNegrito, body main #senhaAlterada .fraseNegrito, body main #senhaAlterada p {margin-top: 0}

body main #senhaAlterada .fraseNegrito {text-align: center}

body main, body main #esqueciSenha form, body main #novaSenha form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

body main #esqueciSenha form #email, body main #novaSenha form #senha, body main #novaSenha form #confSenha {
    width: 100%;
    height: 40px;
    padding: 3px;
    border: 2px solid var(--cl-cyan);
    border-radius: 10px;
    font-size: var(--fs-small);
    font-weight: 100;
    margin: 10px 0 20px 0;
}

body main #esqueciSenha form .btn, body main #novaSenha form .btn, body main #senhaAlterada .btn {
    width: 100px;
    height: 40px;
    color: var(--cl-dark);
    background-color: var(--cl-white);
    border: 2px solid var(--cl-cyan);
    font-size: var(--fs-small);
    font-weight: 400;
    margin-bottom: 20px;
}

body main #emailEnviado svg {
    width: 45%;
    height: 45%;
}

body main #emailEnviado, body main #senhaAlterada {display: none}

/* Tela Tablet */
@media only screen and (min-width: 570px) and (max-width: 767.99px) {

}

/* Tela Desktop */
@media only screen and (min-width: 768px) {

}

/* Tela Desktop Largo */
@media only screen and (min-width: 1300px) {

}