* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-image: url(../img/fundo.png);
  background-size: cover;
}

.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
}

.form-container label {
  display: block;
  margin-top: 10px;
  color: #000;
  font-size: 18px;
  font-weight: bold;
}

.form-container input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
}

.form-container button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #5bc2e7;
  color: #fff;
}

.form-container h2 {
  color: #000;
  font-size: 21px;
  font-weight: bold;
  text-align: left;
}

.form-container a {
  text-decoration: none;
  color: #000;
  font-size: 23px;
  font-weight: bold;
  text-align: left;
  padding: 3px 5px;
}

@media only screen and (max-width: 291.99px) {
  body {
    background: #000;
  }

  header,
  main,
  footer {
    display: none;
  }
}
